.sign-bg {
  position: absolute;
  left: 0;
  top: 0;

  &.sign-bg-right {
    left: auto;
    right: 0;
  }
}
.gradient-main {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.login-bottom {
  margin-top: -12.5rem;
}
@include media-breakpoint-up(xxl) {
  .auth-card {
    padding: 0 6.25rem;
  }
}
@include media-breakpoint-down(sm) {
  .login-header {
    height: 12.5rem !important;
  }
  .login-bottom {
    margin-top: -6.25rem;
  }
}

.outerlayer {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  position: absolute;
  background-color: black;
  top: 45%;
  width: 8%;
  height: 15%;
  border-radius: 12px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.word {
  position: absolute;
  top: 33%;
  text-align: center;
  background-color: white;
  padding: 10px;
  border-radius: 12px;
  text-decoration: underline;
  font-size: 60px;
}
.text-responsive {
  font-size: calc(95% + 1vw + 1vh);
}


@import url(https://fonts.googleapis.com/css2?family=Arvo:wght@700&amp;display=swap);

.newHeader{
  font-family: 'Arvo';
  text-align:left;
  text-transform: uppercase;
  color: #9414e4; 
  font-size: 300%;

}

$white: #fff;
$blue: #1e90ff;
$green: #39d24a;
$yellow: #ffe244;
$pink: #ff36a3;

body {
 
  
  // I do like these colours
  /* background: 
    radial-gradient(circle at bottom, #fff -30%, transparent 70%),
    linear-gradient(to right, #134a8e, #00b6f1 50%),
    #fff; */
  
  background: 
    radial-gradient(circle at bottom, $white, transparent 80%),    
    linear-gradient(to top, dodgerblue 0%, transparent 70%),    
    linear-gradient(to bottom, transparent, rgba($white, 0.4) 70%),
    $blue;  
  animation: bg 30s infinite;
}

@keyframes bg {
  0%, 100% { background-color: $blue; }
  25% { background-color: $green; }
  50% { background-color: $yellow; }
  75% { background-color: $pink; }
}