.sign-bg {
  position: absolute;
  left: 0;
  top: 0;

  &.sign-bg-right {
    left: auto;
    right: 0;
  }
}
.gradient-main {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.login-bottom {
  margin-top: -12.5rem;
}
@include media-breakpoint-up(xxl) {
  .auth-card {
    padding: 0 6.25rem;
  }
}
@include media-breakpoint-down(sm) {
  .login-header {
    height: 12.5rem !important;
  }
  .login-bottom {
    margin-top: -6.25rem;
  }
}

.outerlayer {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  position: absolute;
  background-color: black;
  top: 45%;
  width: 8%;
  height: 15%;
  border-radius: 12px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.word {
  position: absolute;
  top: 33%;
  text-align: center;
  background-color: white;
  padding: 10px;
  border-radius: 12px;
  text-decoration: underline;
  font-size: 60px;
}
.text-responsive {
  font-size: calc(95% + 1vw + 1vh);
}


@import url(https://fonts.googleapis.com/css2?family=Arvo:wght@700&amp;display=swap);

.newHeader{
  font-family: 'Arvo';
  text-align:left;
  text-transform: uppercase;
  color: #9414e4; 
  font-size: 300%;

}

html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(192, 124, 163) 50%, rgb(0, 255, 213) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}